{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
    <div class="loader">Loading...</div>
    <div class="row">
        <div class="col text-center">
            <h1>Q&A System</h1>
        </div>
    </div>
    <div class="row bgc-white p-20 bd">
        <div class="col">
            <div class="row">
                <div class="col col-form">
                        <label for="input_paragraph">Paragraph</label>
                        <textarea class="form-control" id="input_paragraph" placeholder="Paragraph"
                            rows="17"> </textarea>

                </div>
                <div class="col col-form">
                    <div class="row">

                            <label for="input_question">Questions</label>
                            <textarea class="form-control" id="input_question" placeholder="Questions" rows="5"> </textarea>

                    </div>
                    <div class="row mt-3">
                        <div class="col col-btn">
                            <button type="submit" id="find-answers" class="btn btn-danger qa_submit">Find Answers</button>
                        </div>
                    </div>
                    <div class="row mt-3">

                            <label for="input_answer">Answers</label>
                            <textarea class="form-control" id="input_answer" placeholder="Answers" rows="8"> </textarea>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- 

<h1>Just copy & past your parapgraph</h1>
<div class="loader">Loading...</div>
<div class="masonry-item col-md-12">
    <div class="bgc-white p-20 bd">
        <h2 class="c-grey-900">Note that sum of tokens of query and paragraph shoud not greater than 509!</h2>
        <div class="mT-30">
            <form>



            </form> -->

<!-- <form>
                <div class="form-group row">
                    <label for="input_paragraph" class="col col-form-label">Paragraph</label>
                    
                    <textarea class="form-control" id="input_paragraph" placeholder="Paragraph"
                        rows="5"> </textarea>
                </div>
                <div class="form-group row">
                    <label for="input_question" class="col col-form-label">Questions</label>
                    <div class="col-5 col-sm-11">
                        <textarea class="form-control" id="input_question" placeholder="Questions" rows="5"> </textarea>
                    </div>
                    <label for="input_answer" class="col col-sm-1 col-form-label">Answers</label>
                    <div class="col-5 col-sm-11">
                        <textarea class="form-control" id="input_answer" placeholder="Answers" rows="5"> </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" id="find-answers" class="btn btn-primary qa_submit">Find Answers</button>
                    </div>
                </div>    
            </form> -->
<!-- 
        </div>
    </div>
</div> -->
{% endblock content %}