{% extends "layouts/base.html" %}

{% block content %}
<h1>Just copy & past your parapgraph</h1>
<div class="loader">Loading...</div>
<div class="masonry-item col-md-12">
    <div class="bgc-white p-20 bd">
        <h2 class="c-grey-900">Note that sum of tokens of query and paragraph shoud not greater than 509!</h2>
        <div class="mT-30">
        <form>
            <div class="form-group row">
                <label for="input_paragraph" class="col-sm-2 col-form-label">Paragraph</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="input_paragraph" placeholder="Paragraph"  rows="10" > </textarea>
                </div>
            </div>
            <div class="form-group row">
            <label for="input_question" class="col-sm-2 col-form-label">Questions</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="input_question" placeholder="Questions"  rows="5" > </textarea>
            </div>
            </div>
            <div class="form-group row">
            <label for="input_answer" class="col-sm-2 col-form-label">Answers</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="input_answer" placeholder="Answers"  rows="10" > </textarea>
            </div>
            </div>
            <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" id="find-answers" class="btn btn-primary qa_submit">Find Answers</button>
            </div>
            <div class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
              </div>
            </div>
        </form>
        </div>
    </div>
    </div>
{% endblock content %}